body { 
  margin: 0; 
  padding: 0; }

#map { 
  position: absolute; 
  top: 0; 
  bottom: 0; 
  width: 100%; }
  
.map-overlay{
    position: absolute;
    left: 0;
    padding: 10px;}

  
.map-overlay div {
      border: black solid 2px;
      background-color: transparent;
      color: purple;
      font-size: 2em;
      width: 300px;
      border-radius: 8px;
      text-align: center;
    }






